.detail-page-container,
.card-wrapper {
  position: relative;
}
.detail-page-container {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  --tw-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 4px 12px 0 var(--tw-shadow-color);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
body {
  background-color: #00000027;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
  padding-left: 30px;
}
.Product-img {
  border-radius: 50px;
  border: 2px solid #00964a;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.Star-svg {
  display: flex;
  width: 95px;
}
.Star-details {
  display: flex;
  gap: 30px;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}
.product-content {
  padding: 2rem 1rem;
}
.product-title {
  text-transform: capitalize;
  font-weight: 700;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 80px;
  background: #12263a;
}
.see-more {
  color: var(--primary-color);
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-rating {
  color: #ffc107;
}
.product-rating span {
  font-weight: 600;
  color: #252525;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.details {
  display: flex;
  gap: 20px;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail {
  padding-top: 20px;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png)
    left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.quantity {
  display: flex;
  background-color: wheat;
  border-radius: 50px;
  justify-content: center;
  padding: 3px;
  align-items: center;
  gap: 10px;
  width: 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 178px;
}
.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input {
  width: 60px;
}
.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type {
  background: #256eff;
}
.purchase-info .btn:last-of-type {
  background: #f64749;
}
.purchase-info .btn:hover {
  opacity: 0.9;
}
.social-links {
  display: flex;
  align-items: center;
}
.close {
  position: absolute;
  right: 40px;
  top: 35px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
  }
  .product-imgs {
    display: flex;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
